<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Translator</title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="/stylesheets/foundation.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- FontAwesome -->
  <link rel="stylesheet" href=" /stylesheets/font-awesome.css" />

  <!--[if IE 7]>
    <link rel="stylesheet" href="/stylesheets/font-awesome-ie7.css" />
  <![endif]-->

  <script src="/javascripts/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

  <div class="container top-bar">
    <div class="twelve columns">
      <nav class="top-bar">
        <ul>
          <!-- Title Area -->
          <li class="name">
            <h1><a href="/">Translator</a></h1>
          </li>
          <li class="toggle-topbar"><a href="#"></a></li>
        </ul>

        <section>
          <ul class="left">
            <li><a href="/">Sections</a></li>
          </ul>
          <!--<ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown">
              <a href="#">Menu</a>
              <ul class="dropdown">
                <li><a href="/new">Create group</a></li>
              </ul>
            </li>
          </ul>-->
        </section>
      </nav>
    </div>
  </div>


  <div class="container twelve columns" id="wrapper">

    <div class="row">
      <div class="twelve columns">
        <h2>Sections</h2>
        <ul>
          <% groups.forEach(function(group) { %>
            <li>
              <a href="/<%= group.id %>"><%= group.id %></a>
              <div class="right">
                <a href="/<%= group.id %>">Edit</a> | 
                <a href="/<%= group.id %>/output">Output</a>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
      <hr />
      <a href="/new" class="button small right">+ New section</a>
    </div>

  </div>

  <script src="/javascripts/foundation.min.js"></script>
  <script src="/javascripts/jquery.to_json.js"></script>
  <!--<script src="/javascripts/app.js"></script>-->
</body>
</html>
