<html>
  <body>
    <form method="post" action="/">
      <div>
        <label>ID</label><br />
        <input name="id" />
      </div>
      <div>
        <label>English</label><br />
        <textarea name="en"></textarea>
      </div>
      <div>
        <label>Chinese</label><br />
        <textarea name="zh"></textarea>
      </div>

      <div>
        <input type="submit" />
      </div>
    </form>
  </body>
</html>